/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

/* icons */
i {
  /* color: rgb(115 130 175 / 95%); */
  margin-right: 7px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

/* text and content */
body {
  color: #89b4fa;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  font-family: JetBrainsMono Nerd Font;
  /* background: #11111b75; */
  /* border-bottom: 1px solid #9399b20f; */
  border-radius: 5px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 24px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.weather,
.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #31324480;
  /* THIS ONE IS GOOD */
  border: none;
  border-radius: 10px;
}

.workspace {
  background: #b4befe20;
  padding: 4px 8px;
  color: #b4befe;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: #94e2d520;
    color: #94e2d5;
  }
}

.binding-mode,
.tiling-direction {
  /* background: #31324480; */
  background: #94e2d520;
  color: #94e2d5;
  border-radius: 10px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #f38ba8;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 12px;
  left: -8px;
  top: 3px;
}

.currentwindow-container {
  display: flex;
  align-items: center;
  gap: 5px;
  /* background: #31324480; /* THIS ONE IS GOOD */
  /* background: #cba6f720; */
  border: none;
  border-radius: 10px;
}

.currentwindow {
  background: #cba6f720;
  color: #cba6f7;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
}

.network-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 10px;

}

.network {
  background: #fab38720;
  color: #fab387;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
}

.memory-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 10px;
}

.memory {
  background: #f9e2af20;
  color: #f9e2af;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
}

.cpu-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 10px;
}

.cpu {
  background: #a6e3a120;
  color: #a6e3a1;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
}

.weather-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 10px;
}

.weather {
  background: #94e2d520;
  color: #94e2d5;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
}

.calendar-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 10px;
}

.calendar {
  background: #89dceb20;
  color: #89dceb;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 10px;
}

.logo {
  background: #89b4fa20;
  color: #89b4fa;
  padding: 4px;
  border: none;
  border-radius: 10px;
}

.media-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 10px;
}

.media {
  background: #89b4fa20;
  color: #89b4fa;
  padding: 4px;
  border: none;
  border-radius: 10px;
}
